@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Roboto Condensed', sans-serif;
}


@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #010D1A; 
  }
 
  ::-webkit-scrollbar-thumb {
    background: #1f2642; 
    border-radius: 25px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #56616c; 
  }

  ::-webkit-scrollbar-thumb:active {
    background: #F2A406; 
  }

  html {
	  overflow-y: scroll;
  	scrollbar-color: #1f2642 #010D1A;
  	scrollbar-width: thin;
  }
}

